<a href="https://colab.research.google.com/github/CarlosVF2003/Curso-de-Python-para-Data-Science-primeros-pasos/blob/main/Ejercicios3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ejercicios Propuestos 1

**Calentamiento**

1 - Escribe un código para instalar la versión 3.10.3 de la biblioteca matplotlib.

2 - Escribe un código para importar la biblioteca numpy con el alias np.

3 - Crea un programa que lea la siguiente lista de números y elija uno al azar.

lista = [8, 12, 54, 23, 43, 1, 90, 87, 105, 77]


4 - Crea un programa que genere aleatoriamente un número entero menor que 100.

5 - Crea un programa que solicite a la persona usuaria ingresar dos números enteros y calcule la potencia del primer número elevado al segundo.

In [ ]:
'''
1 - Escribe un código para instalar la versión 3.7.1 de la biblioteca matplotlib.
'''
!pip install matplotlib==3.10.3

Collecting matplotlib==3.10.3
  Downloading matplotlib-3.10.3-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (11 kB)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib==3.10.3) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.11/dist-packages (from matplotlib==3.10.3) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.11/dist-packages (from matplotlib==3.10.3) (4.57.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib==3.10.3) (1.4.8)
Requirement already satisfied: numpy>=1.23 in /usr/local/lib/python3.11/dist-packages (from matplotlib==3.10.3) (2.0.2)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.11/dist-packages (from matplotlib==3.10.3) (24.2)
Requirement already satisfied: pillow>=8 in /usr/local/lib/python3.11/dist-packages (from matplotlib==3.10.3) (11.2.1)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib==3.10.3) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.11/dist-packages (from matplotlib==3.10.3) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.7->matplotlib==3.10.3) (1.17.0)
Downloading matplotlib-3.10.3-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (8.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.6/8.6 MB 93.0 MB/s eta 0:00:00
Installing collected packages: matplotlib
  Attempting uninstall: matplotlib
    Found existing installation: matplotlib 3.7.1
    Uninstalling matplotlib-3.7.1:
      Successfully uninstalled matplotlib-3.7.1
Successfully installed matplotlib-3.10.3

In [ ]:
'''
2 - Escribe un código para importar la biblioteca numpy con el alias np.
'''
import numpy as np

In [ ]:
'''
3 - Crea un programa que lea la siguiente lista de números y elija uno al azar.

lista = [8, 12, 54, 23, 43, 1, 90, 87, 105, 77]

'''

from random import choice

lista = [8, 12, 54, 23, 43, 1, 90, 87, 105, 77]

numero = choice(lista)

numero

23

In [ ]:
'''
4 - Crea un programa que genere aleatoriamente un número entero menor que 100.
'''

import random

numero_aleatorio = int(random.random()*100)-1
numero_aleatorio

41

In [ ]:
'''
5 - Crea un programa que solicite a la persona usuaria ingresar dos números enteros y
calcule la potencia del primer número elevado al segundo.
'''

from math import pow

a = int(input('Ingresar el primer numero: '))
b = int(input('Ingresar el segundo numero: '))

potencia = int(pow(a,b))
potencia

Ingresar el primer numero: 3
Ingresar el segundo numero: 2

9

**Aplicando a proyectos**

6 - Se debe escribir un programa para sortear a un seguidor de una red social para ganar un premio. La lista de participantes está numerada y debemos elegir aleatoriamente un número según la cantidad de participantes. Pide a la persona usuaria que proporcione el número de participantes del sorteo y devuelve el número sorteado.

7 - Has recibido una solicitud para generar números de token para acceder a la aplicación de una empresa. El token debe ser par y variar de 1000 a 9998. Escribe un código que solicite el nombre de la persona usuaria y muestre un mensaje junto a este token generado aleatoriamente.


print(f"Hola, {nombre_usuario}, tu token de acceso es {token_generado} ¡Bienvenido/a!")


8 - Para diversificar y atraer nuevos clientes, una lanchonete creó un ítem misterioso en su menú llamado "ensalada de frutas sorpresa". En este ítem, se eligen aleatoriamente 3 frutas de una lista de 12 para componer la ensalada de frutas del cliente. Crea el código que realice esta selección aleatoria según la lista dada.


frutas = ["manzana", "banana", "uva", "pera", "mango", "coco", "sandia", "fresa", "naranja", "maracuya", "kiwi", "cereza"]


9 - Has recibido un desafío para calcular la raíz cuadrada de una lista de números, identificando cuáles resultan en un número entero. La lista es la siguiente:


numeros = [2, 8, 15, 23, 91, 112, 256]


10 - Haz un programa para una tienda que vende césped para jardines. Esta tienda trabaja con jardines circulares y el precio del metro cuadrado de césped es de R$ 25,00. Pide a la persona usuaria el radio del área circular y devuelve el valor en reales de cuánto tendrá que pagar.

In [ ]:
'''
6 - Se debe escribir un programa para sortear a un seguidor de una red social para ganar un premio.
La lista de participantes está numerada y debemos elegir aleatoriamente un número según la cantidad
de participantes. Pide a la persona usuaria que proporcione el número de participantes del sorteo y
devuelve el número sorteado.
'''

import random

a = int(input('Indica la cantidad de participantes: '))

participante = int(random.uniform(1, a))
participante

Indica la cantidad de participantes: 4

2

In [ ]:
'''
7 - Has recibido una solicitud para generar números de token para acceder a la aplicación de
una empresa. El token debe ser par y variar de 1000 a 9998. Escribe un código que solicite el
nombre de la persona usuaria y muestre un mensaje junto a este token generado aleatoriamente.

print(f"Hola, {nombre_usuario}, tu token de acceso es {token_generado} ¡Bienvenido/a!")

'''

nombre_usuario = input('Ingresa tu usuario: ')

token_generado = int(random.uniform(1000, 9998))

while (token_generado % 2) != 0:
  token_generado = int(random.uniform(1000, 9998))


print(f"Hola, {nombre_usuario}, tu token de acceso es {token_generado} ¡Bienvenido/a!")

Ingresa tu usuario: CVERA
Hola, CVERA, tu token de acceso es 6982 ¡Bienvenido/a!

In [ ]:
'''
8 - Para diversificar y atraer nuevos clientes, una lanchonete creó un ítem misterioso en su menú
llamado "ensalada de frutas sorpresa". En este ítem, se eligen aleatoriamente 3 frutas de una lista
de 12 para componer la ensalada de frutas del cliente. Crea el código que realice esta selección
aleatoria según la lista dada.

frutas = ["manzana", "banana", "uva", "pera", "mango", "coco", "sandia", "fresa", "naranja", "maracuya", "kiwi", "cereza"]

'''

from random import choice

frutas = ["manzana", "banana", "uva", "pera", "mango", "coco", "sandia", "fresa", "naranja", "maracuya", "kiwi", "cereza"]
ensalada_de_frutas_sorpresa = []

for i in range(3):
  ensalada_de_frutas_sorpresa.append(choice(frutas))


print(f'La ensalda de frutas contendra {ensalada_de_frutas_sorpresa[0]}, {ensalada_de_frutas_sorpresa[1]} y {ensalada_de_frutas_sorpresa[2]}.')

La ensalda de frutas contendra fresa, maracuya y kiwi.

In [ ]:
'''
9 - Has recibido un desafío para calcular la raíz cuadrada de una lista de números, identificando
cuáles resultan en un número entero. La lista es la siguiente:

numeros = [2, 8, 15, 23, 91, 112, 256]

'''

from math import sqrt

numeros = [2, 8, 15, 23, 91, 112, 256]

enteros = []

for i in range(7):

  if(sqrt(numeros[i])/int(sqrt(numeros[i])) == 1):
    enteros.append(numeros[i])

print(f'Estos numeros son los que sur raiz es entera: {enteros}')

Estos numeros son los que sur raiz es entera: [256]

In [ ]:
'''
10 - Haz un programa para una tienda que vende césped para jardines. Esta tienda trabaja con jardines circulares y el precio del metro cuadrado de césped es de R$ 25,00.
Pide a la persona usuaria el radio del área circular y devuelve el valor en reales de cuánto tendrá que pagar.
'''

from math import pow

from math import pi

radio = float(input('Ingrese el radio del área circular a vender: '))

area = pi*pow(radio,2)

precio = area*25

print(f'Se va tener que pagar R$ {precio:.2f}')

Ingrese el radio del área circular a vender: 5
Se va tener que pagar R$ 1963.50

# Ejercicios Propuestos 2

**Calentamiento**

1 - Escribe un código que lee la lista siguiente y realiza:

```
lista = [16, 14, 63, 65, 17, 99, 70, 11, 20, 48, 79, 32, 17, 89, 12, 25, 66]
# 1. Leer el tamaño de la lista
# 2. Leer el valor máximo y mínimo
# 3. Calcular la suma de los valores de la lista
# 4. Mostrar un mensaje al final: La lista tiene `tamano` números, donde el mayor
# es `mayor` y el menor es `menor`. La suma de los valores es `suma`.
```

2 - Escribe una función que genere la tabla de multiplicar de un número entero del 1 al 10, según la elección del usuario. Como ejemplo, para el número 7, la tabla de multiplicar se debe mostrar en el siguiente formato:

```
# Tabla del  7:
# 7 x 0 = 0
# 7 x 1 = 7
# [...]
# 7 x 10 = 70
```

3 - Crea una función que lea la siguiente lista y devuelva una nueva lista con los múltiplos de 3:

```
[97, 80, 94, 88, 80, 1, 16, 53, 62, 32, 24, 99]
```

4 - Crea una lista de los cuadrados de los números de la siguiente lista [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]. Recuerda utilizar las funciones lambda y map() para calcular el cuadrado de cada elemento de la lista.

In [ ]:
'''
1 - Escribe un código que lee la lista siguiente y realiza:
lista = [16, 14, 63, 65, 17, 99, 70, 11, 20, 48, 79, 32, 17, 89, 12, 25, 66]
# 1. Leer el tamaño de la lista
# 2. Leer el valor máximo y mínimo
# 3. Calcular la suma de los valores de la lista
# 4. Mostrar un mensaje al final: La lista tiene `tamano` números, donde el mayor
# es `mayor` y el menor es `menor`. La suma de los valores es `suma`.
'''

lista = [16, 14, 63, 65, 17, 99, 70, 11, 20, 48, 79, 32, 17, 89, 12, 25, 66]

tamaño = len(lista)
mayor = max(lista)
menor = min(lista)
suma = sum(lista)

print(f'La lista tiene {tamaño} números, donde el mayor es {mayor} y el menor es {menor}. La suma de los valores es {suma}.')

La lista tiene 17 números, donde el mayor es 99 y el menor es 11. La suma de los valores es 743.

In [ ]:
'''
2 - Escribe una función que genere la tabla de multiplicar de un número entero del 1 al 10, según la elección del usuario. Como ejemplo, para el número 7, la tabla de multiplicar se debe mostrar en el siguiente formato:

# Tabla del  7:
# 7 x 0 = 0
# 7 x 1 = 7
# [...]
# 7 x 10 = 70
'''

def tabla_multiplicar(numero):
  print(f'Tabla del {numero}:')
  for i in range(11):
    print(f'{numero} x {i} = {numero*i}')

tabla_multiplicar(7)

Tabla del 7:
7 x 0 = 0
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [ ]:
'''
3 - Crea una función que lea la siguiente lista y devuelva una nueva lista con los múltiplos de 3:

[97, 80, 94, 88, 80, 1, 16, 53, 62, 32, 24, 99]
'''

lista = [97, 80, 94, 88, 80, 1, 16, 53, 62, 32, 24, 99]

multiplos_3 = []

def multiplo_3(Lista):
  for i in range(len(Lista)):
    if(Lista[i]%3 == 0):
      multiplos_3.append(Lista[i])

multiplo_3(lista)
print(f'Los multiplos de 3 son: {multiplos_3}')

Los multiplos de 3 son: [24, 99]

In [ ]:
'''
4 - Crea una lista de los cuadrados de los números de la siguiente
lista [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]. Recuerda utilizar las funciones
lambda y map() para calcular el cuadrado de cada elemento de la lista.
'''

lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

cuadrados = list(map(lambda x : x ** 2, lista))

cuadrados

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Aplicando a proyectos**

5 - Has sido contratado como científico(a) de datos de una asociación de skate. Para analizar las notas recibidas por los skaters en algunas competiciones a lo largo del año, necesitas crear un código que calcule la puntuación de los atletas. Para ello, tu código debe recibir 5 notas ingresadas por los jueces.

6 - Para cumplir con una demanda de una institución educativa para el análisis del rendimiento de sus estudiantes, necesitas crear una función que reciba una lista de 4 notas y devuelva:

```
# mayor nota
# menor nota
# media
# situación (Aprobado(a) o Reprobado(a))
# Uso de la función
# Mostrar: El estudiante obtuvo una media de `media`, con la mayor nota de `mayor` puntos y la menor nota de `menor` puntos y fue `situacion`.)
```

7 - Has recibido una demanda para tratar 2 listas con los nombres y apellidos de cada estudiante concatenándolos para presentar sus nombres completos en la forma Nombre Apellido. Las listas son:

```
nombres = ["juan", "MaRia", "JOSÉ"]
apellidos = ["SILVA", "sosa", "Tavares"]

# Normalizar nombres y apellidos y crear una nueva lista con los nombres completos
# Puedes apoyarte en la función map()
```

8 - Como científico de datos en un equipo de fútbol, necesitas implementar nuevas formas de recopilación de datos sobre el rendimiento de los jugadores y del equipo en su conjunto. Tu primera acción es crear una forma de calcular la puntuación del equipo en el campeonato nacional a partir de los datos de goles marcados y recibidos en cada juego.

Escribe una función llamada calcula_puntos() que recibe como parámetros dos listas de números enteros, representando los goles marcados y recibidos por el equipo en cada partido del campeonato. La función debe devolver la puntuación del equipo y el rendimiento en porcentaje, teniendo en cuenta que la victoria vale 3 puntos, el empate 1 punto y la derrota 0 puntos.

Nota: si la cantidad de goles marcados en un partido es mayor que los recibidos, el equipo ganó. En caso de ser igual, el equipo empató, y si es menor, el equipo perdió. Para calcular el rendimiento, debemos hacer la razón entre la puntuación del equipo y la puntuación máxima que podría recibir.

Para la prueba, utiliza las siguientes listas de goles marcados y recibidos:

```
goles_marcados = [2, 1, 3, 1, 0]
goles_recibidos = [1, 2, 2, 1, 3]
# Texto probablemente mostrado:
# La puntuación del equipo fue `puntos` y su rendimiento fue `desempeno`%"
```

9 - Te han desafiado a crear un código que calcule los gastos de un viaje a una de las cuatro ciudades desde Recife, siendo ellas: Salvador, Fortaleza, Natal y Aracaju.

El costo diario del hotel es de 150 reales en todas ellas y el consumo de gasolina en el viaje en coche es de 14 km/l, siendo que el precio de la gasolina es de 5 reales por litro. Los gastos con paseos y alimentación a realizar en cada una de ellas por día serían [200, 400, 250, 300], respectivamente.

Sabiendo que las distancias entre Recife y cada una de las ciudades son aproximadamente [850, 800, 300, 550] km, crea tres funciones: la primera función calcula los gastos de hotel (gasto_hotel), la segunda calcula los gastos de gasolina (gasto_gasolina) y la tercera los gastos de paseo y alimentación (gasto_paseo).

Para probar, simula un viaje de 3 días a Salvador desde Recife. Considera el viaje de ida y vuelta en coche.

```
# Texto probablemente mostrado:
# Con base en los gastos definidos, un viaje de [dias] días a [ciudad] desde
# Recife costaría [gastos] reales.
```

10 - Has comenzado una pasantía en una empresa que trabaja con procesamiento de lenguaje natural (NLP). Tu líder te solicitó que crees un fragmento de código que reciba una frase escrita por el usuario y filtre solo las palabras con un tamaño mayor o igual a 5, mostrándolas en una lista. Esta demanda se centra en el análisis del patrón de comportamiento de las personas al escribir palabras de esta cantidad de caracteres o más.

Consejo: utiliza las funciones lambda y filter() para filtrar estas palabras. Recordando que la función integrada filter() recibe una función (en nuestro caso, una función lambda) y filtra un iterable según la función. Para tratar la frase, utiliza replace() para cambiar ',' '.', '!' y '?' por espacio.

Utiliza la frase "Aprender Python aquí en Alura es muy bueno" para probar el código.

In [ ]:
'''
5 - Has sido contratado como científico(a) de datos de una asociación de skate. Para analizar
las notas recibidas por los skaters en algunas competiciones a lo largo del año, necesitas crear
un código que calcule la puntuación de los atletas. Para ello, tu código debe recibir 5 notas
ingresadas por los jueces.
'''

notas = []

def puntuacion():
  for i in range(5):
    notas.append(float(int(input(f'Ingrese la nota {i+1}: '))))
  return sum(notas)/len(notas);

puntaje = puntuacion()

print(f'El puntaje del atleta es: {puntaje}')

Ingrese la nota 1: 5
Ingrese la nota 2: 6
Ingrese la nota 3: 1
Ingrese la nota 4: 2
Ingrese la nota 5: 3
El puntaje es: 3.4

In [ ]:
'''
6 - Para cumplir con una demanda de una institución educativa para el análisis del rendimiento de
sus estudiantes, necesitas crear una función que reciba una lista de 4 notas y devuelva:

# mayor nota
# menor nota
# media
# situación (Aprobado(a) o Reprobado(a))
# Uso de la función
# Mostrar: El estudiante obtuvo una media de `media`, con la mayor nota de `mayor` puntos y la
menor nota de `menor` puntos y fue `situacion`.)
'''

lista = []

def notas(Lista):
  for i in range(4):
    Lista.append(float(int(input(f'Ingrese la nota {i+1}: '))))
  mayor = max(Lista)
  menor = min(Lista)
  media = sum(Lista)/len(Lista)
  if(media >= 6):
    situacion = 'Aprobado(a) '
  else:
    situacion = 'Reprobado(a)'
  print(f'El estudiante obtuvo una media de {media}, con la mayor nota de {mayor} puntos y la menor nota de {menor} puntos y fue {situacion}.')

notas(lista)

Ingrese la nota 1: 5
Ingrese la nota 2: 4
Ingrese la nota 3: 8
Ingrese la nota 4: 2
El estudiante obtuvo una media de 4.75, con la mayor nota de 8.0 puntos y la menor nota de 2.0 puntos y fue Reprobado(a).

In [ ]:
'''
7 - Has recibido una demanda para tratar 2 listas con los nombres y apellidos de cada estudiante
concatenándolos para presentar sus nombres completos en la forma Nombre Apellido.
Las listas son:

nombres = ["juan", "MaRia", "JOSÉ"]
apellidos = ["SILVA", "sosa", "Tavares"]

# Normalizar nombres y apellidos y crear una nueva lista con los nombres completos
# Puedes apoyarte en la función map()
'''

nombres = ["juan", "MaRia", "JOSÉ"]
apellidos = ["SILVA", "sosa", "Tavares"]

normalizar = list(map(lambda nombre, apellido: nombre.capitalize() + " " + apellido.capitalize(), nombres, apellidos))
print(normalizar)

['Juan Silva', 'Maria Sosa', 'José Tavares']

In [ ]:
'''
8 - Como científico de datos en un equipo de fútbol, necesitas implementar nuevas formas de
recopilación de datos sobre el rendimiento de los jugadores y del equipo en su conjunto. Tu
primera acción es crear una forma de calcular la puntuación del equipo en el campeonato nacional
a partir de los datos de goles marcados y recibidos en cada juego.

Escribe una función llamada calcula_puntos() que recibe como parámetros dos listas de números
enteros, representando los goles marcados y recibidos por el equipo en cada partido del campeonato.
La función debe devolver la puntuación del equipo y el rendimiento en porcentaje, teniendo en cuenta
que la victoria vale 3 puntos, el empate 1 punto y la derrota 0 puntos.

Nota: si la cantidad de goles marcados en un partido es mayor que los recibidos, el equipo ganó.
En caso de ser igual, el equipo empató, y si es menor, el equipo perdió. Para calcular el
rendimiento, debemos hacer la razón entre la puntuación del equipo y la puntuación máxima que
podría recibir.

Para la prueba, utiliza las siguientes listas de goles marcados y recibidos:

goles_marcados = [2, 1, 3, 1, 0]
goles_recibidos = [1, 2, 2, 1, 3]
# Texto probablemente mostrado:
# La puntuación del equipo fue `puntos` y su rendimiento fue `desempeno`%"
'''

def calcula_puntos (lista_1,lista_2):
  puntos = 0
  pmax = len(lista_1)*3
  for i in range(len(lista_1)):
    if(lista_1[i] == lista_2[i]):
      puntos += 1
    elif(lista_1[i] > lista_2[i]):
      puntos += 3
  desempeno = (puntos/pmax)*100
  print(f'La puntuación del equipo fue {puntos} y su rendimiento fue {desempeno:.2f}%"')

goles_marcados = [2, 1, 3, 1, 0]
goles_recibidos = [1, 2, 2, 1, 3]

calcula_puntos(goles_marcados,goles_recibidos)

La puntuación del equipo fue 7 y su rendimiento fue 46.67%"

In [ ]:
'''
9 - Te han desafiado a crear un código que calcule los gastos de un viaje a una de las cuatro
ciudades desde Recife, siendo ellas: Salvador, Fortaleza, Natal y Aracaju.

El costo diario del hotel es de 150 reales en todas ellas y el consumo de gasolina en el viaje
en coche es de 14 km/l, siendo que el precio de la gasolina es de 5 reales por litro. Los gastos
con paseos y alimentación a realizar en cada una de ellas por día serían [200, 400, 250, 300],
respectivamente.

Sabiendo que las distancias entre Recife y cada una de las ciudades son aproximadamente
[850, 800, 300, 550] km, crea tres funciones: la primera función calcula los gastos de hotel
(gasto_hotel), la segunda calcula los gastos de gasolina (gasto_gasolina) y
la tercera los gastos de paseo y alimentación (gasto_paseo).

Para probar, simula un viaje de 3 días a Salvador desde Recife. Considera el viaje de ida y
vuelta en coche.

# Texto probablemente mostrado:
# Con base en los gastos definidos, un viaje de [dias] días a [ciudad] desde
# Recife costaría [gastos] reales.
'''

costo_hotel = 150
costo_gasolina = 5/14 #14km/l
gastos = [200,400,250,300]
distancias = [850, 800, 300, 550]
ciudades = ['Salvador', 'Fortaleza', 'Natal', 'Aracaju']

def gasto_hotel(dias):
  gasto = costo_hotel*dias
  return gasto
def gasto_gasolina(ciudad):
  gasto = 0
  for i in range(len(ciudades)):
    if (ciudades[i] == ciudad.capitalize()):
      gasto = distancias[i]*2*costo_gasolina
  return gasto
def gasto_paseo(ciudad,dias):
  gasto = 0
  for i in range(len(ciudades)):
    if (ciudades[i] == ciudad.capitalize()):
      gasto = gastos[i]*dias
  return gasto

def gasto_total(dias,ciudad):
  total_gasto = gasto_hotel(dias) + gasto_paseo(ciudad,dias) + gasto_gasolina(ciudad)
  print(f'Con base en los gastos definidos, un viaje de {dias} días a {ciudad} desde')
  print(f'Recife costaría {total_gasto:.2f} reales')

gasto_total(3,'Salvador')

Con base en los gastos definidos, un viaje de 3 días a Salvador desde
Recife costaría 1657.14 reales

In [ ]:
'''
10 - Has comenzado una pasantía en una empresa que trabaja con procesamiento de lenguaje natural
(NLP). Tu líder te solicitó que crees un fragmento de código que reciba una frase escrita por el
usuario y filtre solo las palabras con un tamaño mayor o igual a 5, mostrándolas en una lista.
Esta demanda se centra en el análisis del patrón de comportamiento de las personas al escribir
palabras de esta cantidad de caracteres o más.

Consejo: utiliza las funciones lambda y filter() para filtrar estas palabras. Recordando que la
función integrada filter() recibe una función (en nuestro caso, una función lambda) y filtra un
iterable según la función. Para tratar la frase, utiliza replace() para cambiar ',' '.', '!' y '?'
por espacio.

Utiliza la frase "Aprender Python aquí en Alura es muy bueno" para probar el código.
'''
frase = input('Introduce una frase: ')

frase = frase.replace(',', ' ').replace('.', ' ').replace('!', ' ').replace('?', ' ')

palabras = frase.split()

palabras_filtradas = list(filter(lambda palabra: len(palabra) >= 5, palabras))

palabras_filtradas

Introduce una frase: Aprender Python aquí en Alura es muy bueno

['Aprender', 'Python', 'Alura', 'bueno']

# Ejercicios Propuestos 3

1 - Crea un código para imprimir la suma de los elementos de cada una de las listas contenidas en la siguiente lista:

```
lista_de_listas = [[4, 6, 5, 9], [1, 0, 7, 2], [3, 4, 1, 8]]
```


2 - Crea un código para generar una lista que almacene el tercer elemento de cada tupla contenida en la siguiente lista de tuplas:

```
lista_de_tuplas = [('Pedro', 1.74, 81), ('Júlia', 1.65, 67), ('Otávio', 1.81, 83)]
```


3 - A partir de la lista: ```lista = ['Pedro', 'Júlia', 'Otávio', 'Eduardo']```, crea un código para generar una lista de tuplas en la que cada tupla tenga el primer elemento como la posición del nombre en la lista original y el segundo elemento siendo el propio nombre.


4 - Crea una lista usando la comprensión de listas (```list comprehension```) que almacene solo el valor numérico de cada tupla en caso de que el primer elemento sea 'Apartamento', a partir de la siguiente lista de tuplas:

```
alquiler = [('Apartamento', 1700), ('Apartamento', 1400), ('Casa', 2150), ('Apartamento', 1900), ('Casa', 1100)]
```


5 - Crea un diccionario usando la comprensión de diccionarios (```dict comprehension```) en el que las claves estén en la lista ```meses = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'] y los valores estén en gasto = [860, 490, 1010, 780, 900, 630, 590, 770, 620, 560, 840, 360].```


6 - Una tienda tiene una base de datos con la información de venta de cada representante y de cada año y necesita filtrar solo los datos del año 2022 con ventas mayores a 6000. La tienda proporcionó una muestra con solo las columnas de los años y los valores de venta para que puedas ayudar a realizar la filtración de los datos a través de un código:

```
ventas = [('2023', 4093), ('2021', 4320), ('2021', 5959), ('2022', 8883), ('2023', 9859), ('2022', 5141), ('2022', 7688), ('2022', 9544), ('2023', 4794), ('2021', 7178), ('2022', 3030), ('2021', 7471), ('2022', 4226), ('2022', 8190), ('2021', 9680), ('2022', 5616)]
```
Crea una lista usando la comprensión de listas para filtrar los valores de 2022 que sean mayores a 6000.


7 - Una clínica analiza datos de pacientes y almacena el valor numérico de la glucosa en una base de datos y le gustaría etiquetar los datos de la siguiente manera:

Glucosa igual o inferior a 70: 'Hipoglicemia'
Glucosa entre 70 y 99: 'Normal'
Glucosa entre 100 y 125: 'Alterada'
Glucosa superior a 125: 'Diabetes'
La clínica proporcionó parte de los valores y tu tarea es crear una lista de tuplas usando la comprensión de listas que contenga la etiqueta y el valor de la glucemia en cada tupla.

```
glicemia = [129, 82, 60, 97, 101, 65, 62, 167, 87, 53, 58, 92, 66, 120, 109, 62, 86, 96, 103, 88, 155, 52, 89, 73]
```


8 - Un comercio electrónico tiene información de id de venta, cantidad vendida y precio del producto divididos en las siguientes listas:

```
id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
cantidad = [15, 12, 1, 15, 2, 11, 2, 12, 2, 4]
precio = [93.0, 102.0, 18.0, 41.0, 122.0, 14.0, 71.0, 48.0, 14.0, 144.0]
```
La plataforma necesita estructurar estos datos en una tabla que contenga el valor total de la venta, que se obtiene multiplicando la cantidad por el precio unitario. Además, la tabla debe contener un encabezado indicando las columnas: 'id', 'cantidad', 'precio' y 'total'.

Crea una lista de tuplas en la que cada tupla tenga id, cantidad, precio y valor total, siendo la primera tupla el encabezado de la tabla.


9 - Una empresa tiene sucursales distribuidas en los estados de la región Sudeste de Brasil. En una de las tablas de registro de las sucursales, hay una columna que contiene la información de a qué estado pertenece: ```estados =['CMX', 'OAX', 'PUE', 'PUE', 'CMX', 'PUE', 'OAX', 'OAX', 'OAX', 'CMX', 'CMX', 'PUE', 'OAX', 'CMX', 'VER', 'PUE', 'VER', 'CMX', 'PUE', 'CMX', 'OAX', 'CMX', 'PUE'].```

La empresa siempre está abriendo nuevas sucursales, por lo que la tabla está constantemente recibiendo nuevos registros y al gerente le gustaría tener la información actualizada de la cantidad de sucursales en cada estado.

A partir de la columna con la información de los estados, crea un diccionario utilizando la comprensión de diccionarios (```dict comprehension```) con la clave siendo el nombre de un estado y el valor siendo la cantidad de veces que aparece el estado en la lista.

Consejo: Puedes hacer un paso intermedio para generar una lista de listas en la que cada una de las listas tenga el nombre de solo un estado con valores repetidos.


10 - En esa misma tabla de registro de sucursales, hay una columna con la información de la cantidad de personas empleadas y el gerente quisiera tener un agrupamiento de la suma de esas personas para cada estado. Las informaciones contenidas en la tabla son:

```
 empleados = [('CMX', 16), ('OAX', 8), ('PUE', 9), ('PUE', 6), ('CMX', 10), ('PUE', 4), ('OAX',9),  ('OAX', 7), ('OAX', 12), ('CMX', 7), ('CMX', 11), ('PUE',8), ('OAX',8), ('CMX',9), ('VER', 13), ('PUE', 5),  ('VER', 9), ('CMX', 12), ('PUE', 10), ('CMX', 7), ('OAX', 14), ('CMX', 10), ('PUE', 12)]
```
A partir de la lista de tuplas, crea un diccionario en el que las claves son los nombres de los estados únicos y los valores son las listas con el número de empleados referentes al estado. También crea un diccionario en el que las claves son los nombres de los estados y los valores son la suma de empleados por estado.

In [ ]:
'''
1 - Crea un código para imprimir la suma de los elementos de cada una de las listas contenidas
en la siguiente lista:

lista_de_listas = [[4, 6, 5, 9], [1, 0, 7, 2], [3, 4, 1, 8]]
'''

lista_de_listas = [[4, 6, 5, 9], [1, 0, 7, 2], [3, 4, 1, 8]]

suma = [sum(suma) for suma in lista_de_listas ]
suma

[24, 10, 16]

In [ ]:
'''
2 - Crea un código para generar una lista que almacene el tercer elemento de cada tupla
contenida en la siguiente lista de tuplas:

lista_de_tuplas = [('Pedro', 1.74, 81), ('Júlia', 1.65, 67), ('Otávio', 1.81, 83)]
'''

lista_de_tuplas = [('Pedro', 1.74, 81), ('Júlia', 1.65, 67), ('Otávio', 1.81, 83)]

edad = [edad[2] for edad in lista_de_tuplas]
edad

[81, 67, 83]

In [ ]:
'''
3 - A partir de la lista: lista = ['Pedro', 'Júlia', 'Otávio', 'Eduardo'], crea un código para
generar una lista de tuplas en la que cada tupla tenga el primer elemento como la posición del
nombre en la lista original y el segundo elemento siendo el propio nombre.
'''

lista = ['Pedro', 'Júlia', 'Otávio', 'Eduardo']

posición = [lista.index(posición) for posición in lista]
#posición = [1,2,3,4]

lista_de_tuplas = list(zip(posición,lista))
lista_de_tuplas

[(1, 'Pedro'), (2, 'Júlia'), (3, 'Otávio'), (4, 'Eduardo')]

In [ ]:
'''
4 - Crea una lista usando la comprensión de listas (list comprehension) que almacene solo el valor
numérico de cada tupla en caso de que el primer elemento sea 'Apartamento', a partir de la
siguiente lista de tuplas:

alquiler = [('Apartamento', 1700), ('Apartamento', 1400), ('Casa', 2150), ('Apartamento', 1900),
('Casa', 1100)]
'''

alquiler = [('Apartamento', 1700),
            ('Apartamento', 1400),
            ('Casa', 2150),
            ('Apartamento', 1900),
            ('Casa', 1100)]

numerico = [valor[1] for valor in alquiler if valor[0] == 'Apartamento']
numerico

[1700, 1400, 1900]

In [ ]:
'''
5 - Crea un diccionario usando la comprensión de diccionarios (dict comprehension) en el que las
claves estén en la lista meses = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set',
'Out', 'Nov', 'Dez'] y los valores estén en gasto = [860, 490, 1010, 780, 900, 630, 590, 770, 620,
560, 840, 360].
'''

meses = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez']
gasto = [860, 490, 1010, 780, 900, 630, 590, 770, 620, 560, 840, 360]

gastos_mensuales = {mes: valor for mes, valor in zip(meses, gasto)}
gastos_mensuales

{'Jan': 860,
 'Fev': 490,
 'Mar': 1010,
 'Abr': 780,
 'Mai': 900,
 'Jun': 630,
 'Jul': 590,
 'Ago': 770,
 'Set': 620,
 'Out': 560,
 'Nov': 840,
 'Dez': 360}

In [ ]:
'''
6 - Una tienda tiene una base de datos con la información de venta de cada representante y de cada
año y necesita filtrar solo los datos del año 2022 con ventas mayores a 6000. La tienda proporcionó
una muestra con solo las columnas de los años y los valores de venta para que puedas ayudar a
realizar la filtración de los datos a través de un código:

ventas = [('2023', 4093), ('2021', 4320), ('2021', 5959), ('2022', 8883), ('2023', 9859),
('2022', 5141), ('2022', 7688), ('2022', 9544), ('2023', 4794), ('2021', 7178), ('2022', 3030),
('2021', 7471), ('2022', 4226), ('2022', 8190), ('2021', 9680), ('2022', 5616)]

Crea una lista usando la comprensión de listas para filtrar los valores de 2022 que sean mayores a
6000.
'''

ventas = [('2023', 4093), ('2021', 4320), ('2021', 5959), ('2022', 8883),
          ('2023', 9859), ('2022', 5141), ('2022', 7688), ('2022', 9544),
          ('2023', 4794), ('2021', 7178), ('2022', 3030), ('2021', 7471),
          ('2022', 4226), ('2022', 8190), ('2021', 9680), ('2022', 5616)]

valores_2022 = [valor[1] for valor in ventas if valor[0] == '2022' and valor[1] > 6000]
valores_2022

[8883, 7688, 9544, 8190]

In [ ]:
'''
7 - Una clínica analiza datos de pacientes y almacena el valor numérico de la glucosa en una base
de datos y le gustaría etiquetar los datos de la siguiente manera:

Glucosa igual o inferior a 70: 'Hipoglicemia'
Glucosa entre 70 y 99: 'Normal'
Glucosa entre 100 y 125: 'Alterada'
Glucosa superior a 125: 'Diabetes'
La clínica proporcionó parte de los valores y tu tarea es crear una lista de tuplas usando la
comprensión de listas que contenga la etiqueta y el valor de la glucemia en cada tupla.

glicemia = [129, 82, 60, 97, 101, 65, 62, 167, 87, 53, 58, 92, 66, 120, 109, 62, 86, 96, 103,
88, 155, 52, 89, 73]
'''

glicemia = [129, 82, 60, 97, 101, 65, 62, 167,
            87, 53, 58, 92, 66, 120, 109, 62,
            86, 96, 103, 88, 155, 52, 89, 73]

glucosa = [(glucosa, 'Hipoglicemia' if glucosa <= 70 else 'Normal' if glucosa < 100 else 'Alterada' if glucosa < 125 else 'Diabetes') for glucosa in glicemia]
glucosa

[(129, 'Diabetes'),
 (82, 'Normal'),
 (60, 'Hipoglicemia'),
 (97, 'Normal'),
 (101, 'Alterada'),
 (65, 'Hipoglicemia'),
 (62, 'Hipoglicemia'),
 (167, 'Diabetes'),
 (87, 'Normal'),
 (53, 'Hipoglicemia'),
 (58, 'Hipoglicemia'),
 (92, 'Normal'),
 (66, 'Hipoglicemia'),
 (120, 'Alterada'),
 (109, 'Alterada'),
 (62, 'Hipoglicemia'),
 (86, 'Normal'),
 (96, 'Normal'),
 (103, 'Alterada'),
 (88, 'Normal'),
 (155, 'Diabetes'),
 (52, 'Hipoglicemia'),
 (89, 'Normal'),
 (73, 'Normal')]

In [ ]:
'''
8 - Un comercio electrónico tiene información de id de venta, cantidad vendida y precio del
producto divididos en las siguientes listas:

id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
cantidad = [15, 12, 1, 15, 2, 11, 2, 12, 2, 4]
precio = [93.0, 102.0, 18.0, 41.0, 122.0, 14.0, 71.0, 48.0, 14.0, 144.0]

La plataforma necesita estructurar estos datos en una tabla que contenga el valor total de la
venta, que se obtiene multiplicando la cantidad por el precio unitario. Además, la tabla debe
contener un encabezado indicando las columnas: 'id', 'cantidad', 'precio' y 'total'.

Crea una lista de tuplas en la que cada tupla tenga id, cantidad, precio y valor total, siendo
la primera tupla el encabezado de la tabla.
'''
columnas = ['id', 'cantidad', 'precio', 'total']
id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
cantidad = [15, 12, 1, 15, 2, 11, 2, 12, 2, 4]
precio = [93.0, 102.0, 18.0, 41.0, 122.0, 14.0, 71.0, 48.0, 14.0, 144.0]
total = [precio*cantidad for precio, cantidad in zip(precio,cantidad)]
lista = [tuple(columnas)] + list(zip(id, cantidad, precio , total))
lista

[('id', 'cantidad', 'precio', 'total'),
 (0, 15, 93.0, 1395.0),
 (1, 12, 102.0, 1224.0),
 (2, 1, 18.0, 18.0),
 (3, 15, 41.0, 615.0),
 (4, 2, 122.0, 244.0),
 (5, 11, 14.0, 154.0),
 (6, 2, 71.0, 142.0),
 (7, 12, 48.0, 576.0),
 (8, 2, 14.0, 28.0),
 (9, 4, 144.0, 576.0)]

In [ ]:
'''
9 - Una empresa tiene sucursales distribuidas en los estados de la región Sudeste de Brasil.
En una de las tablas de registro de las sucursales, hay una columna que contiene la información
de a qué estado pertenece:
estados =['CMX', 'OAX', 'PUE', 'PUE', 'CMX', 'PUE', 'OAX', 'OAX', 'OAX', 'CMX', 'CMX', 'PUE',
'OAX', 'CMX', 'VER', 'PUE', 'VER', 'CMX', 'PUE', 'CMX', 'OAX', 'CMX', 'PUE'].

La empresa siempre está abriendo nuevas sucursales, por lo que la tabla está constantemente
recibiendo nuevos registros y al gerente le gustaría tener la información actualizada de la
cantidad de sucursales en cada estado.

A partir de la columna con la información de los estados, crea un diccionario utilizando la
comprensión de diccionarios (dict comprehension) con la clave siendo el nombre de un estado y
el valor siendo la cantidad de veces que aparece el estado en la lista.

Consejo: Puedes hacer un paso intermedio para generar una lista de listas en la que cada una de
las listas tenga el nombre de solo un estado con valores repetidos.
'''

estados =['CMX', 'OAX', 'PUE', 'PUE', 'CMX', 'PUE', 'OAX', 'OAX', 'OAX', 'CMX', 'CMX', 'PUE',
'OAX', 'CMX', 'VER', 'PUE', 'VER', 'CMX', 'PUE', 'CMX', 'OAX', 'CMX', 'PUE']

contar = {valor:estados.count(valor) for valor in estados }
contar

{'CMX': 8, 'OAX': 6, 'PUE': 7, 'VER': 2}

In [ ]:
'''
10 - En esa misma tabla de registro de sucursales, hay una columna con la información de la
cantidad de personas empleadas y el gerente quisiera tener un agrupamiento de la suma de esas
personas para cada estado. Las informaciones contenidas en la tabla son:

empleados = [('CMX', 16), ('OAX', 8), ('PUE', 9), ('PUE', 6), ('CMX', 10), ('PUE', 4), ('OAX',9),
 ('OAX', 7), ('OAX', 12), ('CMX', 7), ('CMX', 11), ('PUE',8), ('OAX',8), ('CMX',9), ('VER', 13),
 ('PUE', 5),  ('VER', 9), ('CMX', 12), ('PUE', 10), ('CMX', 7), ('OAX', 14), ('CMX', 10),
 ('PUE', 12)]

A partir de la lista de tuplas, crea un diccionario en el que las claves son los nombres de los
estados únicos y los valores son las listas con el número de empleados referentes al estado.
También crea un diccionario en el que las claves son los nombres de los estados y los valores son
la suma de empleados por estado.
'''

empleados = [ ('CMX', 16), ('OAX', 8), ('PUE', 9), ('PUE', 6), ('CMX', 10), ('PUE', 4), ('OAX',9),
              ('OAX', 7), ('OAX', 12), ('CMX', 7), ('CMX', 11), ('PUE',8), ('OAX',8), ('CMX',9),
              ('VER', 13), ('PUE', 5),  ('VER', 9), ('CMX', 12), ('PUE', 10), ('CMX', 7), ('OAX', 14),
              ('CMX', 10), ('PUE', 12)]

agrupamiento = {estado: list(valor for e, valor in empleados if e == estado) for estado in set(e[0] for e in empleados)}
suma = {estado: sum(valor for e, valor in empleados if e == estado) for estado in set(e[0] for e in empleados)}
print(agrupamiento)
print(suma)

{'PUE': [9, 6, 4, 8, 5, 10, 12], 'CMX': [16, 10, 7, 11, 9, 12, 7, 10], 'VER': [13, 9], 'OAX': [8, 9, 7, 12, 8, 14]}
{'PUE': 54, 'CMX': 82, 'VER': 22, 'OAX': 58}

# Ejercicios Propuestos 4

**Calentamiento**

1 - Haz un programa que solicite a la persona usuaria ingresar dos números decimales y calcular la división entre estos números. El código debe incluir un manejo de error, indicando el tipo de error que se generó si la división no es posible.

Prueba el programa con el segundo valor numérico de la entrada igual a 0. También prueba usando caracteres textuales en la entrada para verificar los tipos de errores que ocurren.

2 - Haz un programa que solicite a la persona usuaria ingresar un texto que será una clave a buscar en el siguiente diccionario: ```edades = {'Júlia': 16, 'Carol': 23, 'Alberto': 19, 'Roberta': 17}```, almacenando el resultado del valor en una variable. El código debe incluir un manejo de error KeyError, imprimiendo la información 'Nombre no encontrado' en caso de error, e imprimir el valor si no ocurre ninguno.

Prueba el programa con un nombre presente en una de las claves del diccionario y con uno que no esté en el diccionario para verificar el mensaje de error.

3 - Crea una función que reciba una lista como parámetro y convierta todos los valores de la lista a flotantes. La función debe incluir un manejo de error indicando el tipo de error generado y devolver la lista si no ha ocurrido ningún error. Por último, debe tener la cláusula ```finally``` para imprimir el texto: 'Fin de la ejecución de la función'.

4 - Crea una función que reciba dos listas como parámetros y agrupe los elementos uno a uno de las listas, formando una lista de tuplas de 3 elementos. El primer y segundo elemento de la tupla son los valores en la posición ```i``` de las listas y el tercer elemento es la suma de los valores en la posición ```i``` de las listas.

La función debe incluir un manejo de error indicando el tipo de error generado y devolver como resultado la lista de tuplas. Si las listas enviadas como parámetro tienen tamaños diferentes, la función debe devolver un IndexError con la frase: 'La cantidad de elementos en cada lista es diferente.'.

Datos para probar la función:

Valores sin error:
```
lista1 = [4, 6, 7, 9, 10]
lista2 = [-4, 6, 8, 7, 9]
```

Listas con tamaños diferentes:
```
lista1 = [4, 6, 7, 9, 10, 4]
lista2 = [-4, 6, 8, 7, 9]
```

Listas con valores incoherentes:
```
lista1 = [4, 6, 7, 9, 'A']
lista2 = [-4, 'E', 8, 7, 9]
```

In [ ]:
'''
1 - Haz un programa que solicite a la persona usuaria ingresar dos números decimales y calcular la
división entre estos números. El código debe incluir un manejo de error, indicando el tipo de error
que se generó si la división no es posible.

Prueba el programa con el segundo valor numérico de la entrada igual a 0. También prueba usando
caracteres textuales en la entrada para verificar los tipos de errores que ocurren.
'''

try:
  n1 = float(input('Ingrese el 1er número: '))
  n2 = float(input('Ingrese el 2do número: '))
except Exception as e :
  print(e)
else:
  print(f'La división de los numeros es: {n1/n2:.2f}')

Ingrese el 1er número: 10
Ingrese el 2do número: 6
La división de los numeros es: 1.67

In [ ]:
'''
2 - Haz un programa que solicite a la persona usuaria ingresar un texto que será una clave a buscar
en el siguiente diccionario: edades = {'Júlia': 16, 'Carol': 23, 'Alberto': 19, 'Roberta': 17},
almacenando el resultado del valor en una variable. El código debe incluir un manejo de error
KeyError, imprimiendo la información 'Nombre no encontrado' en caso de error, e imprimir el valor
si no ocurre ninguno.

Prueba el programa con un nombre presente en una de las claves del diccionario y con uno que no
esté en el diccionario para verificar el mensaje de error.
'''

edades = {'Júlia': 16, 'Carol': 23, 'Alberto': 19, 'Roberta': 17}

try:
  nombre = input('Ingrese el clave: ')
  edad = edades[nombre]
except KeyError:
  print('Nombre no encontrado')
else:
  print(f'La edad de {nombre} es {edad}')

Ingrese el clave: Juan
Nombre no encontrado

In [ ]:
'''
3 - Crea una función que reciba una lista como parámetro y convierta todos los valores de la lista
a flotantes. La función debe incluir un manejo de error indicando el tipo de error generado y
devolver la lista si no ha ocurrido ningún error. Por último, debe tener la cláusula finally para
imprimir el texto: 'Fin de la ejecución de la función'.
'''

def flotantes(lista):
    nueva_lista = []
    for elemento in lista:
        try:
            nueva_lista.append(float(elemento))
        except Exception as e:
            print(f"Error al convertir '{elemento}': {e}")
        finally:
            print("Fin de la ejecución de la función")
    return nueva_lista

# Crear lista correctamente
listo = [input("Ingrese un número: ") for _ in range(5)]

# Ejecutar conversión y mostrar resultado
resultado = flotantes(listo)
print("Lista convertida:", resultado)

Ingrese un número: 1
Ingrese un número: 5
Ingrese un número: 2
Ingrese un número: a
Ingrese un número: 4
Fin de la ejecución de la función
Fin de la ejecución de la función
Fin de la ejecución de la función
Error al convertir 'a': could not convert string to float: 'a'
Fin de la ejecución de la función
Fin de la ejecución de la función
Lista convertida: [1.0, 5.0, 2.0, 4.0]

In [ ]:
'''
4 - Crea una función que reciba dos listas como parámetros y agrupe los elementos uno a uno de las
listas, formando una lista de tuplas de 3 elementos. El primer y segundo elemento de la tupla son
los valores en la posición i de las listas y el tercer elemento es la suma de los valores en la
posición i de las listas.

La función debe incluir un manejo de error indicando el tipo de error generado y devolver como
resultado la lista de tuplas. Si las listas enviadas como parámetro tienen tamaños diferentes,
la función debe devolver un IndexError con la frase: 'La cantidad de elementos en cada lista es
diferente.'.

Datos para probar la función:

Valores sin error:

lista1 = [4, 6, 7, 9, 10]
lista2 = [-4, 6, 8, 7, 9]

Listas con tamaños diferentes:

lista1 = [4, 6, 7, 9, 10, 4]
lista2 = [-4, 6, 8, 7, 9]

Listas con valores incoherentes:

lista1 = [4, 6, 7, 9, 'A']
lista2 = [-4, 'E', 8, 7, 9]
'''

def agrupar(lista1,lista2):
  suma = []
  try:
        if len(lista1) != len(lista2):
            raise IndexError("La cantidad de elementos en cada lista es diferente.")

        suma = [lista1[i] + lista2[i] for i in range(len(lista1))]

        tuplas = list(zip(lista1, lista2, suma))
  except IndexError as e:
        return e
  except Exception as e:
        return f"Error inesperado: {e}"
  else:
        return tuplas
  finally:
        print("Fin de la ejecución de la función")

'Valores sin error:'

A = [4, 6, 7, 9, 10]
B = [-4, 6, 8, 7, 9]

'Listas con tamaños diferentes:'

C = [4, 6, 7, 9, 10, 4]
D = [-4, 6, 8, 7, 9]

'Listas con valores incoherentes:'

E = [4, 6, 7, 9, 'A']
F = [-4, 'E', 8, 7, 9]

sin_error = agrupar(A,B)
tamaño_diferente = agrupar(C,D)
valores_incoherentes = agrupar(E,F)

print(sin_error)
print(tamaño_diferente)
print(valores_incoherentes)

Fin de la ejecución de la función
Fin de la ejecución de la función
Fin de la ejecución de la función
[(4, -4, 0), (6, 6, 12), (7, 8, 15), (9, 7, 16), (10, 9, 19)]
La cantidad de elementos en cada lista es diferente.
Error inesperado: unsupported operand type(s) for +: 'int' and 'str'

**Aplicando a proyectos**

5 - Como desafío, se te ha asignado la tarea de desarrollar un código que contabiliza las puntuaciones de estudiantes de una institución educativa de acuerdo con sus respuestas en una prueba. Este código debe ser probado para un ejemplo de 3 estudiantes con una lista de listas en la que cada lista tiene las respuestas de 5 preguntas objetivas de cada estudiante. Cada pregunta vale un punto y las alternativas posibles son A, B, C o D.

Si alguna alternativa en una de las pruebas no está entre las alternativas posibles, debes lanzar un ValueError con el mensaje "La alternativa [alternativa] no es una opción de alternativa válida". El cálculo de las 3 notas solo se realizará mediante las entradas con las alternativas A, B, C o D en todas las pruebas. Si no se lanza la excepción, se mostrará una lista con las notas en cada prueba.

Datos para la prueba del código:

Respuestas de la prueba:
```
respuestas = ['D', 'A', 'B', 'C', 'A']
```
A continuación, hay 2 listas de listas que puedes usar como prueba:

Notas sin excepción:
```
tests_sin_ex = [['D', 'A', 'B', 'C', 'A'], ['C', 'A', 'A', 'C', 'A'], ['D', 'B', 'A', 'C', 'A']]
```

Notas con excepción:
```
tests_con_ex = [['D', 'A', 'B', 'C', 'A'], ['C', 'A', 'A', 'E', 'A'], ['D', 'B', 'A', 'C', 'A']]
```

6 - Estás trabajando con procesamiento de lenguaje natural (NLP) y, en esta ocasión, tu líder te pidió que crees un fragmento de código que reciba una lista con las palabras separadas de una frase generada por ChatGPT.

Necesitas crear una función que evalúe cada palabra de este texto y verifique si el tratamiento para quitar los símbolos de puntuación (',', '.', '!' y '?') se realizó. De lo contrario, se lanzará una excepción del tipo ValueError señalando el primer caso en que se detectó el uso de una puntuación a través de la frase "El texto presenta puntuaciones en la palabra "[palabra]"". Esta solicitud se centra en el análisis del patrón de frases generadas por la inteligencia artificial.

Datos para probar el código:

Lista tratada:
```
lista_tratada = ['Python', 'es', 'un', 'lenguaje', 'de', 'programación', 'poderoso', 'versátil',
                  'y', 'fácil', 'de', 'aprender', 'utilizado', 'en', 'diversos', 'campos', 'desde',
                  'análisis', 'de', 'datos', 'hasta', 'inteligencia', 'artificial']
```

Lista no tratada:
```
lista_no_tratada = ['Python', 'es', 'un', 'lenguaje', 'de', 'programación', 'poderoso,', 'versátil',
                  'y', 'fácil,', 'de', 'aprender', 'utilizado', 'en', 'diversos', 'campos,', 'desde',
                  'análisis', 'de', 'datos', 'hasta', 'inteligencia', 'artificial!']
```

In [ ]:
'''
5 - Como desafío, se te ha asignado la tarea de desarrollar un código que contabiliza las
puntuaciones de estudiantes de una institución educativa de acuerdo con sus respuestas en una
prueba. Este código debe ser probado para un ejemplo de 3 estudiantes con una lista de listas en la
que cada lista tiene las respuestas de 5 preguntas objetivas de cada estudiante. Cada pregunta
vale un punto y las alternativas posibles son A, B, C o D.

Si alguna alternativa en una de las pruebas no está entre las alternativas posibles, debes lanzar
un ValueError con el mensaje "La alternativa [alternativa] no es una opción de alternativa válida".
El cálculo de las 3 notas solo se realizará mediante las entradas con las alternativas A, B, C o D
en todas las pruebas. Si no se lanza la excepción, se mostrará una lista con las notas en cada
prueba.

Datos para la prueba del código:

Respuestas de la prueba:

respuestas = ['D', 'A', 'B', 'C', 'A']

A continuación, hay 2 listas de listas que puedes usar como prueba:

Notas sin excepción:

tests_sin_ex = [['D', 'A', 'B', 'C', 'A'], ['C', 'A', 'A', 'C', 'A'], ['D', 'B', 'A', 'C', 'A']]

Notas con excepción:

tests_con_ex = [['D', 'A', 'B', 'C', 'A'], ['C', 'A', 'A', 'E', 'A'], ['D', 'B', 'A', 'C', 'A']]
'''

def calcular_notas(tests, respuestas):
    alternativas_validas = {'A', 'B', 'C', 'D'}
    notas = []

    for test in tests:
        try:
            for respuesta in test:
                if respuesta not in alternativas_validas:
                    raise ValueError(f"La alternativa '{respuesta}' no es una opción de alternativa válida.")

            puntuacion = sum(1 for r_correcta, r_estudiante in zip(respuestas, test) if r_correcta == r_estudiante)
            notas.append(puntuacion)

        except ValueError as e:
            print(e)
            return None

    return notas

# Datos de prueba
respuestas = ['D', 'A', 'B', 'C', 'A']
tests_sin_ex = [['D', 'A', 'B', 'C', 'A'], ['C', 'A', 'A', 'C', 'A'], ['D', 'B', 'A', 'C', 'A']]
tests_con_ex = [['D', 'A', 'B', 'C', 'A'], ['C', 'A', 'A', 'E', 'A'], ['D', 'B', 'A', 'C', 'A']]

# Prueba
print("Notas sin excepción:", calcular_notas(tests_sin_ex, respuestas))
print("Notas con excepción:", calcular_notas(tests_con_ex, respuestas))

Notas sin excepción: [5, 3, 3]
La alternativa 'E' no es una opción de alternativa válida.
Notas con excepción: None

In [ ]:
'''
6 - Estás trabajando con procesamiento de lenguaje natural (NLP) y, en esta ocasión, tu líder te
pidió que crees un fragmento de código que reciba una lista con las palabras separadas de una frase
generada por ChatGPT.

Necesitas crear una función que evalúe cada palabra de este texto y verifique si el tratamiento
para quitar los símbolos de puntuación (',', '.', '!' y '?') se realizó. De lo contrario, se
lanzará una excepción del tipo ValueError señalando el primer caso en que se detectó el uso de una
puntuación a través de la frase "El texto presenta puntuaciones en la palabra "[palabra]"".
Esta solicitud se centra en el análisis del patrón de frases generadas por la inteligencia
artificial.

Datos para probar el código:

Lista tratada:

lista_tratada = ['Python', 'es', 'un', 'lenguaje', 'de', 'programación', 'poderoso', 'versátil',
                  'y', 'fácil', 'de', 'aprender', 'utilizado', 'en', 'diversos', 'campos', 'desde',
                  'análisis', 'de', 'datos', 'hasta', 'inteligencia', 'artificial']

Lista no tratada:

lista_no_tratada = ['Python', 'es', 'un', 'lenguaje', 'de', 'programación', 'poderoso,', 'versátil',
                  'y', 'fácil,', 'de', 'aprender', 'utilizado', 'en', 'diversos', 'campos,', 'desde',
                  'análisis', 'de', 'datos', 'hasta', 'inteligencia', 'artificial!']
'''

'Lista tratada:'

lista_tratada = ['Python', 'es', 'un', 'lenguaje', 'de', 'programación', 'poderoso', 'versátil',
                  'y', 'fácil', 'de', 'aprender', 'utilizado', 'en', 'diversos', 'campos', 'desde',
                  'análisis', 'de', 'datos', 'hasta', 'inteligencia', 'artificial']

'Lista no tratada:'

lista_no_tratada = ['Python', 'es', 'un', 'lenguaje', 'de', 'programación', 'poderoso,', 'versátil',
                  'y', 'fácil,', 'de', 'aprender', 'utilizado', 'en', 'diversos', 'campos,', 'desde',
                  'análisis', 'de', 'datos', 'hasta', 'inteligencia', 'artificial!']

def evaluar(lista_palabras):
    try:
        for palabra in lista_palabras:
            if any(puntuacion in palabra for puntuacion in [',', '.', '!', '?']):
                raise ValueError(f"El texto presenta puntuaciones en la palabra '{palabra}'.")
    except ValueError as e:
        print(f"Error: {e}")

evaluar(lista_tratada)
evaluar(lista_no_tratada)

Error: El texto presenta puntuaciones en la palabra 'poderoso,'.